body {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.719);
}



.shuttertext {
  z-index: 10000;
  color: rgb(255, 255, 255);
}
.shutter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
  animation: byeShutter 2s forwards;
}


.shutter::before {
  font-family: 'Noto Serif JP', serif, "Sawarabi Mincho";
  content:attr(shutter_content);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  font-size: x-large;
  margin:auto;
  color: #1e741e;
  background-color:#adcc63;
  width:0;
  height:1px;
  animation: shutterOpen 2.6s forwards;
}

.shutter::after{
  content:"" ;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin:auto;
  width:120%;
  height:0;
  margin-left:-10%;
  background-color:#f3f3f3;
  animation: shutterOpen1 2.6s forwards;
}



.shutter-content {
  animation: contentScale 2s forwards;
}

@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes shutterOpen {
  0% {
    width: 0;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@keyframes shutterOpen1{
  60%{
    width:120%;
    height:0;
    transform:rotate(10deg);
  }
  90%{
    width:120%;
    height:100%;
    transform:rotate(-10deg);
  }
  100%{
    width:120%;
    height:100%;
    transform:rotate(-10deg);
    z-index: -1;
  }
}

@keyframes contentScale {
  70% {
    transform: scale(0.9) ;
  }
  100% {
    transform: scale(1) ;
  }
}
/* card */
#card-case {
  font-family: "Sawarabi Mincho", 'Noto Serif JP', serif;
}

/* graph */
.bar-step {
  position: absolute;
  margin-top: -28px;
  z-index: 1;
  font-size: 16px;
}

.label-txt {
  float: left;
}

.label-line {
  float: right;
  background: #000;
  height: 100px;
  width: 1px;
  margin-left: 5px;
}

.label-percent {
  float: right;
  margin-left: 5px;
}
/* 使用不可ぼかし */
.disable_box {
  z-index: 100;
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.disable_text{
  position: relative;
}
.disable_textp{
  position:absolute;
  top: 0;
  left:0;
  bottom:0;
  margin:auto;
  width:90%;
  height:0;
  z-index: 1000;
}