
.bg {
    width: 100vw;
    height: 100vh;
    background: #fff;
    animation: bgAnime 1s linear 1.0s forwards;
}

.opening_text {
    font-family: "Sawarabi Mincho";
    text-align: center;
    font-size: 12vw;
    color: #4C95D7;
    height: 1em;
    line-height: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 7;
    animation: textAnime2 .1s linear 0.7s forwards;
}

.opening_text:after{
    font-family: "Sawarabi Mincho";
    content: "";
    width: 60vw;
    height: 1.2em;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    animation: textAnime1 0.6s linear forwards;
}

/*keyframe*/

@keyframes textAnime1 {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(150%);
}
}

@keyframes textAnime2 {
0%{
    transform: rotate(0);
}
100%{
    transform: rotate(-10deg);
}
}

@keyframes bgAnime {
0%{
    opacity: 1;
}
99%{
    opacity: 0;
}
100%{
    opacity: 0;
    display: none;
}
}
    